.button {
}

.disabled {
}

.secondary {
    background-color: green;
}

.default {
    background-color: aqua;
}

.red {
    background-color: #f00;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
