.button {
    height: 36px;
    width: 132px;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.disabled {
    color: #ccc;
    background-color: #004D99;
    opacity: 0.5;
}

.secondary {
    background-color: #E5F0FA;
    border: 1px solid #0066cc;
    color: #0066cc;
}

.default {
    background-color: #0066CC;
}

.red {
    background-color: #f00;
}

.default:hover {
    width: 176px;
    cursor: pointer;
}

.red:hover {
    width: 176px;
    cursor: pointer;

}

.secondary:hover {
    cursor: pointer;

}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
